
.openModal {
  display: none; /* Hidden by default */
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}


.openModal .modal-content h1{
  padding-bottom: 2rem;
}

/* scheduling */
.openModal .modal-content p{
  font-size: 2vw;
  margin-bottom: 1rem;
}

/* contact */
.social-image{
  height: 100%;
  max-height: 100px;
  width: auto;
  margin-left: -3rem;
}
.social-image1{
  width: 100%;
  max-width: 100px;
  height: auto;
}

.contact-me{
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.modal-content {
  margin-top: 25vh;
  margin-left: 32vw; 
  background-color: white;
  padding: 3rem 1rem;
  border-radius: .8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 675px;
  height: auto;
  text-align: center;
}
.modal-content h1 {
  margin: 0;
}

#close,
#close2,
#close3{
  display: inline-block;
  padding: .75rem 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;
  cursor: pointer;
}

#close,
#close2,
#close3:hover{
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
  color: white;
  text-decoration: underline;
  transition-duration: .25s;
}


