
/* Global variables */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
/* Scroll Bar */
/* width & height */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px darkgray;
  border-radius: .8rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 60%, hsla(0, 0%, 0%, 0.8) 100%); */
  background: rgb(28,28,28);
background: linear-gradient(75deg, rgba(28,28,28,1) 75%, rgba(120,120,120,1) 100%);
  border-radius: 10px;
}

/* img{
  width: 100%;
} */

/* Navigation Bar */
.nav-bar {
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-around;
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 60%, hsla(0, 0%, 0%, 0.8) 100%);
  padding: 30px, 10%;
  font-size: 1rem;
  margin-bottom: 2rem;
  /* filter: drop-shadow(2px 2px 2px black); */

}

.dropbtn {

  color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  background-color:inherit;
  font-size: 1vw;  
}

.dropdown {
  position: relative;
  display: inline-block;
  filter: drop-shadow(2px 2px 2px black);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1rem 1.1rem;
  text-decoration: none;
  display: block;
  background-color: #ddd;
  
}

.dropdown-content a:hover {
  background-color: whitesmoke;  
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

.dropdown:hover .dropbtn {
  background-color: #00f2fe;
  color: black;
  text-decoration: underline;
  transition-duration: .55s;
}


.loginBtn {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1vw;  
}

.dropdown:hover .loginBtn {
  color: rgb(255, 255, 255);
  background-color: inherit;
  text-decoration: underline;
  transition-duration: .55s;
}

/* End of nav */

body{
  width: 100%;
  /* height: 50vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rem;
}

h1,h2{
  text-align: center;
  margin-bottom: 2rem;
  filter: drop-shadow(4px 2px 2px gray);
  /* filter: drop-shadow(2px 4px 2px gray); */
}

.content-cards{
  width: 100%;
  max-width: 90vw;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

}

.content-cards_img{
  min-width: 30vw;
  max-width: 600px;
  height: auto;
  transform: translateX(-3rem);
  position: relative;
}

.content-cards_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
  box-shadow: .5rem .5rem .3rem 1px rgba(0, 0, 0, 0.2);
}

/* .content-cards_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(233, 237, 240, 0.1), 
  rgb(125, 129, 125));
  box-shadow: .5rem .5rem .3rem 1px rgba(0, 0, 0, 0.2);
  border-radius: .8rem;
  background-color: #00f2fe;
} */
.content-cards_info{
  max-width: 40vw;
}

.content-cards_title{
  display: block;
  color: (0,0,0,.5);
  font-size: 1.6vw;
  font-weight: 600;
  margin: .5rem 0;
  

}

/* .content-cards_title{
font-size: 2.5rem;
margin: 1.5rem 0 2rem;
text-transform: uppercase;
color: #4facfe;
} */

/* .content-cards_text{
margin-bottom: 3rem;
font-size: 1.4rem;
color: (0,0,0,.7);
} */

.modal-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  max-width: 30vw;
}

.content-cards_cta{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:black;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;
}

.content-cards_cta:hover{
  background-image: linear-gradient(to right,#00f2fe  0%, #4facfe 100%);
  color: white;
  text-decoration: underline;
  transition-duration: .25s;
}

.map-container{
  background-color: black;
  text-align: center;
  color: whitesmoke;
  border-radius: .8rem;
  padding: 2px;
  /* box-shadow: .5rem .5rem .3rem 1px rgba(0, 0, 0, 0.2); */
}

.map{
  /* background-color: #4facfe; */
  max-height: 50vw;
}

.map iframe{
  width: 30rem;
  height: 18rem;
  border: none;
  /* box-shadow: .5rem .5rem .3rem 1px rgba(0, 0, 0, 0.2); */
}


.services-container{
  display: flex;
  padding: 1rem;
  width: 100%;
  max-width: 80vw;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  border-radius: .8rem;
  margin-left: 5vw;
  margin-bottom: 3rem;

}

.services{
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  column-gap: 1rem;  
  width: fit-content;
  min-height: min-content;
}

.service-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  border-right-style: groove;
  margin: .5rem;
}

/* .service-content p{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  
} */


