
/* Global variables */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img{
  width: 100%;
}

body{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rem;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 20px;
}

.content-cards{
  width: 100%;
  max-width: 98rem;

  padding: 5rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.content-cards_img{
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.content-cards_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.content-cards_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(to right, rgba(233, 237, 240, 0.1), 
  rgb(125, 129, 125)); */
  box-shadow: .5rem .5rem .3rem 1px rgba(0, 0, 0, 0.2);
  border-radius: .8rem;
}

.content-cards_ratingAndLocation{
  display: block;
  color: (0,0,0,.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;

}

.content-cards_title{
font-size: 2.5rem;
margin: 1.5rem 0 2rem;
text-transform: uppercase;
color: #4facfe;
}

.content-cards_text{
margin-bottom: 3rem;
font-size: 1.4rem;
color: (0,0,0,.7);
}

.content-cards_cta{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:black;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: .8rem;
  text-decoration: none;
}

.content-cards_cta:hover{
  background-image: linear-gradient(to right,#00f2fe  0%, #4facfe 100%);
  color: white;
  text-decoration: underline;
}


header {
  display: flex;
  align-self: center;
  /* background-color: purple; */
  height: 50px;
  margin-bottom: 1rem;

}

/* body {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5%;
  margin-right: 5%;
} */

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 5rem;
  background-color: gray;
  border-radius: 10px;
    /* height: 200px;
    margin: 10px; */

}

/* Navigation Bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding: 30px, 10%;
  font-size: 12px;
}

.dropbtn {

  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 17px;
}

.dropdown {
  position: relative;
  display: inline-block;
  filter: drop-shadow(2px 2px 2px black);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00f2fe;
  color: black;
  text-decoration: underline;
}
/* End of nav */


/* Login buttons */
.loginBtn {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 1rem;
  padding: 14px;
  /* background-color: #ddd; */
  
}

.loginBtn button {
  border: none;
  border-radius: .5rem;
  filter: drop-shadow(1px 1px 1px black);
  cursor: pointer;
  padding: 4px;
  /* background-color: bisque; */

}

.loginBtn :hover{
  transform: scale(97%);
}
/* End of Navigation Bar */

/* Filter section */
.filter-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: auto;
  /* background-color: pink; */
  text-align: center;
  
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: .5rem;
  /* border-top-style: double;
  border-bottom-style: double;     */
}

.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 5rem;
  max-width: 50%;
  background-color: white;
  /* border-left-style: double;
  border-right-style: double; */
  padding-left: .175rem;
  padding-right: .175rem;  
  }

  .filter-content :hover{
    cursor: pointer;
    transform: scale(155%);

  }



/* Main content */

/* .main-box{  
  background-color: cornflowerblue;
} */
/* .main-box :hover{
  filter: drop-shadow(5px 5px 10px rgb(112, 109, 109));  
} */

.main-content {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  /* background-color: gray; */
  margin: 2rem;
  border-style: groove;
  border-color: rgb(245, 239, 239);
  padding:10px;  
  padding-bottom: 50px;
  border-radius: 40px;
}


.review{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 20%;
}

.artist{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 18%;
}
.artist img{
  /* border-style: groove;
  border-color: black; */
  width: 100%;
  max-width: 400px;
  height: auto; 
  border-radius: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 30%;
}

/* End of Main Content */

/* footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding: 30px, 10%;
} */